---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const title = "just some note";
---

<Layout title={title}>
	<h1>ini index</h1>
	<button id="nav_to_list" class="button">menuju list</button>
</Layout>

<style>
	.button{
		background-color: brown;
	}
</style>

<script>
	const button = document.getElementById("nav_to_list");
	button?.addEventListener('click', () => {
		window.location.href = "./list";
	});
</script>
